{% extends "AppTrabajoFinal/padre.html" %}

{% load static %}

    {% block titulo_de_pagina %}
    
        {% endblock %}


    {% block contenido %}
    
    {% if mensaje %}
    <h1>Resultados de la busqueda:</h1>
    <h2>{{ mensaje }}</h2>
    
    {% else %}
    {% for n in persona %}
    <h1>Resultados de la busqueda:</h1>
    <h2>nombre: {{ n.nombre }}</h2>
    <h2>apellido: {{ n.apellido }}</h2>    
    <h2>edad: {{ n.edad }}</h2>
    --
    {% endfor %}
    {% endif %}
    {% endblock %}